
###> symf/.envony/framework-bundle ###
/cgi-bin/
/.env
/deploy.sh
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
###> custom ignore rules (uploads, envs, editor) ###
# User uploads and generated media
/public/uploads/
/public/uploads/*

# Local environment files
.env.local
.env.dev.local
.env.prod.local

# IDE and editor folders
.idea/
.vscode/
*.log
###< custom ignore rules ###
