<select name="category" id="category" class="form-control ads-filter__control">
	<option value="">Выберите категорию</option>
	<option value="Недвижимость" {% if category == 'Недвижимость' %} selected {% endif %}>Недвижимость</option>
	<option value="Ищу работу" {% if category == 'Ищу работу' %} selected {% endif %}>Ищу работу</option>
	<option value="Ищу жилье" {% if category == 'Ищу жилье' %} selected {% endif %}>Ищу жилье</option>
	<option value="Работа" {% if category == 'Работа' %} selected {% endif %}>Работа</option>
	<option value="Продажа авто" {% if category == 'Продажа авто' %} selected {% endif %}>Продажа авто</option>
	<option value="Ремонт" {% if category == 'Ремонт' %} selected {% endif %}>Ремонт</option>
	<option value="Образование" {% if category == 'Образование' %} selected {% endif %}>Образование</option>
	<option value="Красота" {% if category == 'Красота' %} selected {% endif %}>Красота</option>
	<option value="Рестораны" {% if category == 'Рестораны' %} selected {% endif %}>Рестораны</option>
	<option value="Мебель" {% if category == 'Мебель' %} selected {% endif %}>Мебель</option>
	<option value="Вещи" {% if category == 'Вещи' %} selected {% endif %}>Вещи</option>
	<option value="Животные" {% if category == 'Животные' %} selected {% endif %}>Животные</option>
	<option value="Перевозки" {% if category == 'Перевозки' %} selected {% endif %}>Перевозки</option>
	<option value="Прочее" {% if category == 'Прочее' %} selected {% endif %}>Прочее</option>
</select>
