{% extends 'base.html.twig' %}

{% block title %}Подать объявление
{% endblock %}

{% block body %}
	<section class="ads ads-create">
		<div class="ads__head">
			<h1 class="ads__title">Подать объявление</h1>
			<a href="{{ path('app_ads_index') }}" class="ads__cta ads__cta--ghost">← К списку</a>
		</div>

		<div class="ads-form ads-form--panel">

			{{ include('ads/_form.html.twig', { button_label: 'Опубликовать' }) }}
		</div>
	</section>
{% endblock %}
